body {
    background-image: url(coffeeimg.jpg);
    font-family: sans-serif;
    padding: 20px;

}
  .menu{
    background-color:burlywood;
    padding-left: 20px;
    padding-right: 20px;
    width:35%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  h1,h2,p{
    text-align:center;
  }
  h1{
    /*padding-top: 30px;*/
    font-size:40px;
    margin-bottom:5px;
  }
  h2{
    font-size: 30px;;
  }
  .flavor,.price{
    display:inline-block;
    margin-top:5px ;
    margin-bottom:5px ;
    font-size: 18px;

  }
 
  
  .flavor{
    text-align: left;
    width:49%;
  }
  .price{
    text-align: right;
    width:49%;
  }
  hr{
    height:2px;
    background-color:brown;
    border-color: brown;
    margin: 5px;


}
  h1,h2{
    font-family:Impact;
  }
  a{
    color:black;

  }
  a:hover{
    color:brown;
  }
  /*.address{
    padding-bottom: 30px;
  }*/
  img{
    display:block;
    margin-left:auto;
    margin-right: auto;
  }
  .gg{
    margin-bottom: 30px;
  }
  footer{
    font-size: 15px;
  }